{% trans_default_domain 'WXLUserBundle' %}

{{ form_start(form, { 'action': path('wxl_user_group_new'), 'attr': { 'class': 'wxl_user_group_new' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'group.new.submit'|trans }}" />
    </div>
{{ form_end(form) }}
