{% extends "@WXLUser/layout.html.twig" %}

{% trans_default_domain 'WXLUserBundle' %}

{% block wxl_user_content %}
    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock wxl_user_content %}
