{% trans_default_domain 'WXLUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('wxl_user_registration_register'), 'attr': {'class': 'wxl_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
