{% trans_default_domain 'WXLUserBundle' %}

{{ form_start(form, { 'action': path('wxl_user_profile_edit'), 'attr': { 'class': 'wxl_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
{{ form_end(form) }}
